{% extends 'usernavigation.html' %}
{% load static %}
{% block body %}

{% if error == "no" %}
<Script>
    alert('Password Changed Successfully');
    window.location="{% url 'logout' %}";
</Script>
{% endif %}

{% if error == "yes" %}
<Script>
    alert('Invalid Login Credentials, Try Again');
</Script>
{% endif %}

<div class="container mt-5">
    <div class="row">
        <div class="col-sm-6">
            <img src="{% static 'images/changepass.png' %}" style="height:400px;">
        </div>
        <div class="col-sm-6">
            <h2 class="text-center">CHANGE PASSWORD</h2>
            <hr>
            <form method="post">
                {% csrf_token %}
                <label>OLD PASSWORD</label>
                <input type="password" class="form-control" placeholder="Enter Old Password" name="old" autocomplete="off">
                <label>NEW Password</label>
                <input type="password" class="form-control" placeholder="Enter New Password" name="new" autocomplete="off">
                <label>CONFIRM Password</label>
                <input type="password" class="form-control" placeholder="Re-Enter New Password" name="confirm" autocomplete="off">
                <center><input type="submit" class="btn btn-success mt-4" value="LOGIN"></center>
            </form>
        </div>
    </div>
</div>

{% endblock %}