{% extends 'navigation.html' %}
{% load static %}
{% block body %}
<div style="background-color:green; width:100%; height:100px">
    <h3 class="text-center text-white pt-4">Contact Us</h3>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15630.231261235636!2d75.5637221049582!3d20.98423041439419!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1755624032905!5m2!1sen!2sin" width="500" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="col-sm-6 mt-5">
            <p><i class="fas fa-envelope"></i> Email ID : harshchhatwani34250@gmail.com</p>
            <p><i class="fas fa-phone-square"></i> Contact : 8888450979</p>
            <p><i class="fas fa-address-card"></i> Address : Iccha Devi Chowk Jalgaon</p>
            <p><i class="fas fa-clock   "></i> Office Hours : 10:00 am to 7:00 pm</p>
            <p><i class="fab fa-facebook"></i> Facebook ID : <a href="https://www.facebook.com/share/1RyXXWq4sK/?mibextid=wwXIfr">Harsh Chhatwani</a></p>
            <p><i class="fab fa-instagram"></i> Instagram ID : <a href="https://www.instagram.com/chhatwaniharsh/">@chhatwaniharsh</a></p>
        </div>
    </div>
</div>
<br>
<br>

{% endblock %}