{% extends 'navigation.html' %}
{% load static %}
{% block body %}
<style>
.image {
    width: 100%;
    height: 470px;
    background: url("{% static 'images/image3.webp' %}");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
</style>
<div class="image">
<div class="transparentbox">
    <p>Study Notes Sharing Site</p>
</div>
</div>

<h4 class="text-center text-danger mt-5">Just 4 steps to follow</h4>
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-3">
            <div class="box1">
                <p class="halfcircle"><i class="fas fa-user-circle mt-4" style="font-size:40px;"></i></p>
                <p class="halfcircleBottom" style="font-size:18px;">Create Account</p>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="box1">
                <p class="halfcircle"><i class="fas fa-sign-in-alt mt-4" style="font-size:40px;"></i></p>
                <p class="halfcircleBottom" style="font-size:18px;">Login</p>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="box1">
                <p class="halfcircle"><i class="fas fa-upload mt-4" style="font-size:40px;"></i></p>
                <p class="halfcircleBottom" style="font-size:18px;">Upload Notes</p>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="box1">
                <p class="halfcircle"><i class="fas fa-download mt-4" style="font-size:40px;"></i></p>
                <p class="halfcircleBottom" style="font-size:18px;">Download Notes</p>
            </div>
        </div>

    </div>
</div>
<br>
<br>
{% endblock %}
