{% extends 'navigation.html' %}
{% load static %}
{% block body %}

{% if error == "no" %}
<Script>
    alert('Logged In Successfully');
    window.location="{% url 'profile' %}";
</Script>
{% endif %}

{% if error == "yes" %}
<Script>
    alert('Invalid Login Credentials, Try Again');
</Script>
{% endif %}

<div class="container mt-5">
    <div class="row">
        <div class="col-sm-6">
            <h2 class="text-center">NEW USER</h2>
            <hr>
            <p>By Creating an account with our website you will be able to move through the notes uploading
                and downloading process and more...</p>
            <a href="{% url 'signup' %}" class="btn btn-danger text-white mt-5">Create an Account</a>
        </div>
        <div class="col-sm-6">
            <h2 class="text-center">USER LOGIN</h2>
            <hr>
            <form method="post">
                {% csrf_token %}
                <label>Email Address</label>
                <input type="email" class="form-control" placeholder="Enter Email ID" name="emailid" autocomplete="off">
                <label>Password</label>
                <input type="password" class="form-control" placeholder="Enter Password" name="pass" autocomplete="off">
                <center><input type="submit" class="btn btn-success mt-4" value="LOGIN"></center>
            </form>
        </div>
    </div>
</div>

{% endblock %}