{% extends 'navigation.html' %}
{% load static %}
{% block body %}

{% if error == "no" %}
<Script>
    alert('Logged In Successfully');
    window.location="{% url 'admin_home' %}";
</Script>
{% endif %}

{% if error == "yes" %}
<Script>
    alert('Invalid Login Credentials, Try Again');
</Script>
{% endif %}

<div class="container mt-5" style="background-color:whitesmoke;">
    <div class="row">
        <div class="col-sm-6">
            <img src="{% static 'images/adminlogin.jpg' %}" class="img-thumbnail my-3" style="width:100%;">
        </div>
        <div class="col-sm-6">
            <h2 class="text-center mt-3">ADMIN LOGIN</h2>
            <hr>
            <p>Enter your Username and Password for accessing Admin Panel.</p>

            <form method="post">
                {% csrf_token %}
                <label>Username</label>
                <input type="text" class="form-control" placeholder="Enter Username" name="uname">
                <label>Password</label>
                <input type="password" class="form-control" placeholder="Enter Password" name="pass">
                <center><input type="submit" class="btn btn-success mt-4" value="LOGIN"></center>
            </form>
        </div>
    </div>
</div>

{% endblock %}