{% extends 'usernavigation.html' %}
{% load static %}
{% block body %}

<div class="container mt-5">
    <h2 class="text-center">VIEW ALL NOTES</h2>
    <hr>
    <table class="table table-bordered" id="example">
        <thead>
        <tr>
            <th>Sr. No.</th>
            <th>Uploaded By</th>
            <th>Uploading Date</th>
            <th>Branch</th>
            <th>Subject</th>
            <th>Download Notes</th>
            <th>File Type</th>
            <th>Description</th>
            <th>Status</th>
        </tr>
        <tr>
            {% for i in notes %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.user.username}}</td>
                <td>{{i.uploadingdate}}</td>
                <td>{{i.branch}}</td>
                <td>{{i.subject}}</td>
                <td><a href="{{i.notesfile.url}}" class="btn btn-primary" download>Download</a></td>
                <td>{{i.filetype}}</td>
                <td>{{i.description}}</td>
                <td>{{i.status}}</td>
            </tr>
            {% endfor %}
        </tr>
        </thead>
    </table>

</div>

{% endblock %}