{% extends 'admin_nav.html' %}
{% load static %}
{% block body %}

<div class="container mt-5">
    <h2 class="text-center">VIEW USERS</h2>
    <hr>
    <table class="table table-bordered" id="example">
        <thead>
        <tr>
            <th>Sr. No.</th>
            <th>FullName</th>
            <th>Email ID</th>
            <th>Contact</th>
            <th>Branch</th>
            <th>Role</th>
            <th>Action</th>
        </tr>
        <tr>
            {% for i in users %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td style="text-transform:capitalize;">{{i.user.first_name}} {{i.user.last_name}}</td>
                <td>{{i.user.username}}</td>
                <td>{{i.contact}}</td>
                <td>{{i.branch}}</td>
                <td>{{i.role}}</td>
                <td><a href="{% url 'delete_user' i.user.id %}" class="btn btn-danger" onclick="return confirm('Are you sure?')">Delete</a></td>
            </tr>
            {% endfor %}
        </tr>
        </thead>
    </table>

</div>

{% endblock %}